<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <div>
    <label for="">Name:</label>
     <input type="text" name="name">
    </div>
    <div>
      <label for="">Coach:</label>
     <input type="text" name="coach">
    </div>
    <div>
      <label for="">Point Guard:</label>
     <input type="text" name="pg">
   </div>
   <div>
     <label for="">Shooting Guard:</label>
     <input type="text" name="sg">
   </div>
   <div>
     <label for="">Small Forward:</label>
     <input type="text" name="pf">
   </div>
   <div>
     <label for="">Power Forward:</label>
     <input type="text" name="sf">
   </div>
   <div>
     <label for="">Centre:</label>
     <input type="text" name="c">
   </div>
   <div>
     <input type="submit" id="Submit">
   </div>
   </form>
 </body>
</html>
